<div class="row-fluid">
    <div class="span-header span3" style="padding-top: 0.7em;">
        <a class="home-link" href="/">
            {% block header_image %}
            <img src="https://assets.crossref.org/logo/crossref-logo-landscape-200.png">
            {% endblock %}
        </a>
    </div>
    <div class="span-header span9">
        <div class="pull-right">
            {% include 'include/nav_links.html' %}
        </div>
    </div>
    {% include "profile_link.html" %}
</div>
