{% extends "layout/base.html" %}
{% block header_image %}
<img src="https://assets.crossref.org/logo/crossref-logo-landscape-100.png">
{% endblock %}

{% block styles %}
<link href="{{ url_for('static', filename='css/results.css') }}" media="screen" rel="stylesheet" type="text/css" >
{% endblock styles %}

{% block content %}
{% block results_content %}
{% endblock %}
<hr/>
<div class="footer">
    Feedback:
    <a href="mailto:support@crossref.org">support@crossref.org</a>
</div>
{% endblock %}
